@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: #fff; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }

@font-face { font-family: "FranklinGothic-Book"; src: url("../fonts/FranklinGothic-Book.eot"); src: url("../fonts/FranklinGothic-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FranklinGothic-Book.woff") format("woff"), url("../fonts/FranklinGothic-Book.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "FranklinGothic-Medium"; src: url("../fonts/FranklinGothic-Medium.eot"); src: url("../fonts/FranklinGothic-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FranklinGothic-Medium.woff") format("woff"), url("../fonts/FranklinGothic-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: AvantGardeLT-CondBook; src: url("../fonts/AvantGardeLT-CondBook.eot"); src: url("../fonts/AvantGardeLT-CondBook.eot?#iefix") format("embedded-opentype"), url("../fonts/AvantGardeLT-CondBook.woff") format("woff"), url("../fonts/AvantGardeLT-CondBook.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: Arial, sans-serif; font-family: "FranklinGothic-Book", Arial, sans-serif; font-weight: normal; font-size: 16px; line-height: 1.4; color: #2d3746; }

a { color: #2d3746; text-decoration: none; }
a:hover { color: #c50c1e; }

@media only screen and (max-width: 550px) { .hide-on-mobile { display: none; } }

.service-msg { padding-left: 120px; font-size: 16px; color: #2d3746; margin: 25px 0; }
.service-msg p { margin: 10px 0; }
.service-msg p.lead { font-size: 21px; margin-top: 25px; }
.service-msg a { color: #c50c1e; }
.service-msg a:hover { text-decoration: underline; }
.service-msg .title { margin-top: 15px; }
.service-msg .search { max-width: 300px; margin-top: 15px; }
@media only screen and (max-width: 550px) { .service-msg { padding-left: 0; }
  .service-msg .title { font-size: 24px; } }

.l-center { position: relative; max-width: 940px; margin: 0 auto; padding: 0 30px; }
@media only screen and (max-width: 800px) { .l-center { padding: 0 23px; } }

.l-content { padding: 22px 0 40px; *zoom: 1; }
.l-content:after { content: " "; display: table; clear: both; }
.l-content .l-col1, .l-content .l-col2 { width: 48.40426%; margin-right: 0; }
.l-content .l-col1 { float: left; }
.l-content .l-col2 { float: right; }
@media only screen and (max-width: 550px) { .l-content .l-col1, .l-content .l-col2 { float: none; width: 100%; }
  .l-content .l-col2 { margin-top: 25px; } }

.l-content-four-col { padding: 22px 0 40px; *zoom: 1; }
.l-content-four-col:after { content: " "; display: table; clear: both; }
.l-content-four-col .l-col1, .l-content-four-col .l-col2, .l-content-four-col .l-col3, .l-content-four-col .l-col4 { width: 31.38298%; float: left; margin-right: 2.87234%; }
.l-content-four-col .l-col3, .l-content-four-col .l-col4 { float: right; margin-right: 0; }
.l-content-four-col .l-col4 { margin-top: 30px; }
@media only screen and (max-width: 800px) { .l-content-four-col .l-col1, .l-content-four-col .l-col3 { float: left; width: 47.85714%; margin-right: 4.28571%; }
  .l-content-four-col .l-col2, .l-content-four-col .l-col4 { float: right; width: 47.85714%; margin-right: 0; }
  .l-content-four-col .l-col3 { margin-top: 30px; } }
@media only screen and (max-width: 550px) { .l-content-four-col .l-col1, .l-content-four-col .l-col2, .l-content-four-col .l-col3, .l-content-four-col .l-col4 { float: none; width: 100%; margin: 0; }
  .l-content-four-col .l-col2, .l-content-four-col .l-col3, .l-content-four-col .l-col4 { margin-top: 30px; } }

.l-article { margin: 30px 0; *zoom: 1; }
.l-article:after { content: " "; display: table; clear: both; }
.l-article .l-col1 { float: left; width: 64.89362%; }
.l-article .l-col2 { float: right; width: 31.91489%; }
@media only screen and (max-width: 800px) { .l-article .l-col1 { float: none; width: 100%; }
  .l-article .l-col2 { display: none; } }
@media only screen and (max-width: 550px) { .l-article { margin-bottom: 0; }
  .l-article .l-col2 { display: block; float: none; width: 100%; margin-top: 25px; } }
.l-article .l-content { padding: 10px 0; }

.header { position: relative; z-index: 10; background: #FFF; }
.header .header__top { position: relative; padding: 16px 0 26px 120px; font-size: 0; }
.header .header__top:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; min-height: 105px; }
@media only screen and (max-width: 550px) { .header .header__top { padding-left: 0; height: auto; }
  .header .header__top:before { display: none; } }
.header .logo { position: absolute; top: 16px; left: 0; }
@media only screen and (max-width: 550px) { .header .logo { display: none; } }
.header .header__title { display: inline-block; vertical-align: middle; font-family: "FranklinGothic-Medium.ttf", Arial, sans-serif; font-weight: normal; font-size: 24px; line-height: 1.25; text-align: left; color: #2d3746; letter-spacing: -0.02em; white-space: normal; }
@media only screen and (max-width: 550px) { .header .header__title { display: block; font-size: 16px; line-height: 1.5; } }
.header .header__search { visibility: hidden; position: absolute; z-index: -1; bottom: 0; left: 0; right: 0; box-sizing: border-box; max-width: 986px; margin: auto; padding: 10px 60px 10px 10px; background: #475975; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.header .header__search.is-visible { bottom: -60px; visibility: visible; opacity: 1; }
@media only screen and (max-width: 550px) { .header .header__search { padding-right: 10px; }
  .header .header__search .search { padding: 0; }
  .header .header__search .search__btn { display: none; } }
.header .header__search.is-static { position: relative; opacity: 1; visibility: visible; height: 0; padding-top: 0; padding-bottom: 0; overflow: hidden; top: auto; left: auto; right: auto; bottom: auto; }
.header .header__search.is-static.is-visible { height: 60px; padding-top: 10px; padding-bottom: 10px; }
.header .header__search-close { position: absolute; top: 0; right: 0; bottom: 0; width: 60px; line-height: 60px; text-align: center; cursor: pointer; }
.header .header__search-close:before { content: ""; display: inline-block; vertical-align: middle; background: url('../img/icons-s259000824c.png') 0 -41px no-repeat; width: 25px; height: 25px; position: relative; top: -2px; }
@media only screen and (max-width: 550px) { .header .header__search-close { display: none; } }

.logo { display: block; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-s259000824c.png') 0 -391px no-repeat; width: 98px; height: 105px; }

.menu { background: #2d3746; height: 60px; line-height: 60px; font-family: "FranklinGothic-Medium.ttf", Arial, sans-serif; font-weight: normal; }
.menu .menu__list { position: relative; margin: 0 37px; height: 60px; font-size: 0; }
.menu .menu__list li { display: inline-block; }
.menu .menu__list li.is-active a { background: #475975; }
.menu .menu__list a { display: block; padding: 0 30px; font-size: 16px; color: #fff; text-decoration: none; }
.menu .menu__list a:hover { background-color: #c50c1e; }
.menu .menu__list a.is-active { background: #475975; }
.menu .menu__list .flexMenu-viewMore { position: relative; }
.menu .menu__list .flexMenu-viewMore a[title] { letter-spacing: 0.1em; }
.menu .menu__list .flexMenu-viewMore.active { background: #c50c1e; }
@media only screen and (max-width: 550px) { .menu .menu__list .flexMenu-viewMore { float: right; } }
.menu .menu__list .flexMenu-popup { background: #c50c1e; top: 100%; right: 0; width: 260px; padding: 10px 0; z-index: 100; box-sizing: border-box; }
.menu .menu__list .flexMenu-popup li { display: block; }
.menu .menu__list .flexMenu-popup li.is-active a { background: #9C0917; }
.menu .menu__list .flexMenu-popup a { box-sizing: border-box; line-height: 1.25; padding-top: 10px; padding-bottom: 10px; }
.menu .menu__list .flexMenu-popup a:hover { background: #9C0917; }
@media only screen and (max-width: 550px) { .menu .menu__list .flexMenu-popup a { width: 260px; line-height: 1.25; padding-top: 10px; padding-bottom: 10px; } }
.menu .menu__btn { position: absolute; z-index: 2; top: 0; left: 7px; width: 60px; text-align: center; }
@media only screen and (max-width: 986px) { .menu .menu__btn { left: 0; } }
.menu .menu__btn:before { position: relative; top: -1px; content: ""; display: inline-block; vertical-align: middle; background: url('../img/icons-s259000824c.png') 0 -506px no-repeat; width: 14px; height: 10px; }
.menu .menu__btn.menu__btn_search { left: auto; right: 7px; }
@media only screen and (max-width: 986px) { .menu .menu__btn.menu__btn_search { right: 0; } }
.menu .menu__btn.menu__btn_search:before { background: url('../img/icons-s259000824c.png') 0 -577px no-repeat; width: 15px; height: 16px; }
.menu .menu__btn:hover, .menu .menu__btn.is-active { background: #475975; }
.menu.menu_sub { background: #475975; }
@media only screen and (max-width: 550px) { .menu.menu_sub { display: none; } }
.menu.menu_sub .menu__list a:hover, .menu.menu_sub .menu__list a.is-active { background: #617490; }
.menu.menu_sub .menu__list li.is-active a { background: #617490; }
.menu.menu_sub .flexMenu-viewMore { background: #475975; }
.menu.menu_sub .flexMenu-viewMore.active { background: #617490; }
.menu.menu_sub .flexMenu-popup { background: #617490; }
.menu.menu_sub .flexMenu-popup li a:hover { background: #4D5C72; }
.menu.menu_sub .flexMenu-popup li.is-active a { background: #4D5C72; }
.menu.menu_sub-bottom { display: none; height: auto; margin: 0 0 -30px; }
@media only screen and (max-width: 550px) { .menu.menu_sub-bottom { display: block; } }
.menu.menu_sub-bottom .menu__list { height: auto; margin: 0; }
.menu.menu_sub-bottom li { display: block; margin: 0 -23px; border-top: 1px solid #617490; }
.menu.menu_sub-bottom li:first-child { border: none; }
.menu.menu_sub-bottom li a { padding: 0 23px; }

.topslider .topslider__next:before, .gallery .gallery__next:before, .gallery .gallery__carousel-autoplay:after { width: 0; height: 0; border: 0 solid transparent; border-width: 6px 0 6px 10px; border-left-color: #fff; }

.topslider .topslider__prev:before, .gallery .gallery__prev:before { width: 0; height: 0; border: 0 solid transparent; border-width: 6px 10px 6px 0; border-right-color: #fff; }

.title { display: block; margin-top: 30px; font-family: "FranklinGothic-Book", Arial, sans-serif; font-weight: normal; font-size: 30px; line-height: 1.2; color: #2d3746; }
.l-content > .title { margin-bottom: 20px; }
.title:first-child { margin-top: 0; }
.title.title_red { font-size: 24px; color: #c50c1e; }
.title.title_small { font-size: 21px; line-height: 1.7; }
.l-content > .title.title_small { margin-bottom: 10px; }
.title.title_big { font-size: 36px; }
.l-content > .title.title_big { margin-bottom: 25px; }
.title.title_margin { margin-left: 62px; }

.news { display: block; position: relative; margin-top: 25px; text-decoration: none; color: #2d3746; }
.news > a { color: #2d3746; text-decoration: none; }
.news:first-child { margin-top: 0; }
.news img { display: block; max-width: 100%; }
.news img:first-child, .news img:first-of-type { margin-bottom: 10px; }
.news img:last-child, .news img:last-of-type { margin-top: 10px; }
.news em { font-style: normal; color: #c50c1e; }
.news .news__title-lead { display: block; font-size: 21px; line-height: 1.15; color: #c50c1e; }
.news .news__title-lead:hover + .news__title { color: #c50c1e; }
.news .news__title { padding-top: 6px; font-size: 16px; line-height: 1.5; font-weight: normal; color: #2d3746; }
.news .news__title:hover { color: #c50c1e; }
.news .news__type { position: absolute; top: 0; right: 0; z-index: 2; height: 30px; line-height: 30px; background: rgba(0, 0, 0, 0.6); font-size: 0; white-space: nowrap; }
.news .news__type span { display: inline-block; vertical-align: middle; font-family: Arial; font-size: 12px; color: #FFF; margin: 0 10px; }
.news .news__type img { display: inline-block; vertical-align: middle; max-height: 100%; width: auto; margin: 0; padding: 0; }
.news .news__type.video span:before { content: ""; display: inline-block; vertical-align: middle; position: relative; top: -2px; margin-right: 6px; background: url('../img/icons-s259000824c.png') 0 -19px no-repeat; width: 12px; height: 12px; }
.title + .news { margin-top: 15px; }
.news.news_important .news__title { color: #c50c1e; line-height: 1.43; font-size: 21px; }
.news.news_important .news__title:hover { opacity: 0.7; }
.news.news_small .news__title { font-size: 13px; line-height: 1.4; }
.news.news_small .info { font-size: 13px; line-height: 1.4; }
.news.news_small + .news.news_small { margin-top: 20px; padding-top: 20px; border-top: 1px solid #eaeef4; }

.info { display: block; font-size: 12px; line-height: 2; color: #9198a2; }
.news .info { cursor: text; }

.link-more { display: inline-block; margin-top: 25px; font-size: 14px; line-height: 1.2; color: #c50c1e; text-decoration: none; }
.link-more:hover { text-decoration: underline; }

.btn { display: inline-block; height: 50px; padding: 0 38px; text-align: center; font-size: 24px; border: 1px solid #2d3746; opacity: 0.4; background: none; color: #2d3746; font-family: "FranklinGothic-Book", Arial, sans-serif; font-weight: normal; }
.btn:hover { opacity: 1; }
.btn.btn_red { color: #c50c1e; border-color: #c50c1e; }

.search { position: relative; font-size: 0; padding-right: 87px; }
.search .search__ico { position: absolute; top: 12px; left: 16px; background: url('../img/icons-s259000824c.png') 0 -552px no-repeat; width: 14px; height: 15px; }
.search input[type="text"] { display: block; height: 40px; width: 100%; box-sizing: border-box; padding: 0 15px 0 40px; border: 1px solid #E0DFDF; border-width: 1px 0 1px 1px; box-shadow: none; border-radius: 0; font-family: "FranklinGothic-Book", Arial, sans-serif; font-weight: normal; font-size: 14px; color: #2d3746; }
.search input[type="text"]:-ms-input-placeholder { color: #cdcfd1; }
.search input[type="text"]:-moz-placeholder { color: #cdcfd1; }
.search input[type="text"]::-moz-placeholder { color: #cdcfd1; }
.search input[type="text"]::-webkit-input-placeholder { color: #cdcfd1; }
.search input[type="text"]::placeholder { color: #cdcfd1; }
.search input[type="text"]:focus + .search__clear { display: block; }
.search .search__btn { position: absolute; top: 0; right: 0; height: 40px; width: 87px; text-align: center; background: #c50c1e; font-family: "FranklinGothic-Medium.ttf", Arial, sans-serif; font-weight: normal; color: #FFF; font-size: 16px; }
.search .search__clear { display: none; position: absolute; top: 13px; right: 100px; background: url('../img/icons-s259000824c.png') 0 -325px no-repeat; width: 20px; height: 14px; cursor: pointer; }
@media only screen and (max-width: 550px) { .search .search__clear { right: 13px; } }

.rss { display: inline-block; font-family: "FranklinGothic-Medium.ttf", Arial, sans-serif; font-weight: normal; font-size: 14px; color: #2d3746; }
.rss:before { content: ""; display: inline-block; vertical-align: middle; background: url('../img/icons-s259000824c.png') 0 -526px no-repeat; width: 16px; height: 16px; margin-right: 6px; }

.pagi { margin: 27px 0; font-size: 14px; line-height: 1.7; color: #c50c1e; margin-left: -5px; }
.pagi a { display: inline-block; padding: 0 5px; color: #c50c1e; text-decoration: none; }
.pagi a:hover { color: #2d3746; }
.pagi li { display: inline-block; margin-right: 20px; }
.pagi li:last-child { margin-right: 0; }
.pagi li.is-active a { color: #B9BABA; }
.pagi.pagi_border-top { margin-top: 0; padding-top: 27px; border-top: 1px solid #eaebec; }
@media only screen and (max-width: 800px) { .pagi.pagi_border-top { padding-top: 0; border: none; } }
@media only screen and (max-width: 550px) { .pagi { margin-top: 0; }
  .pagi li { margin-right: 15px; } }

.breadcrumbs { margin-top: 25px; font-size: 21px; line-height: 1.2; }
.breadcrumbs li { display: inline-block; margin-right: 14px; }
.breadcrumbs li:last-child { margin-right: 0; }
.breadcrumbs li:last-child:after { display: none; }
.breadcrumbs li:after { content: ""; display: inline-block; background: url('../img/icons-s259000824c.png') 0 0 no-repeat; width: 5px; height: 9px; margin-left: 18px; }
.breadcrumbs li.is-big { font-size: 36px; }
.breadcrumbs li.is-last a { color: #c6c6c6; }
@media only screen and (max-width: 550px) { .breadcrumbs li { font-size: 18px; }
  .breadcrumbs li:first-child { font-size: 18px; } }
.breadcrumbs.breadcrumbs_medium { margin-top: 45px; font-size: 21px; }
.breadcrumbs.breadcrumbs_medium a { color: #2d3746; }
.breadcrumbs.breadcrumbs_medium a:hover { color: #c50c1e; }
.breadcrumbs.breadcrumbs_medium li:first-child { font-size: inherit; }
.breadcrumbs.breadcrumbs_medium li:last-child a { color: #2d3746; }
.breadcrumbs.breadcrumbs_gray a { color: #c6c6c6; }
.breadcrumbs.breadcrumbs_small { margin-top: 0; padding-top: 30px; border-top: 1px solid #eaebec; margin-bottom: 30px; font-size: 14px; }
.breadcrumbs.breadcrumbs_small a { color: #c50c1e; }
.breadcrumbs.breadcrumbs_small a:hover { color: #2d3746; }
.breadcrumbs.breadcrumbs_small li { margin-right: 6px; }
.breadcrumbs.breadcrumbs_small li:first-child { font-size: inherit; }
.breadcrumbs.breadcrumbs_small li:last-child a { color: #2d3746; }
.breadcrumbs.breadcrumbs_small li:after { margin-left: 11px; }

.document { display: block; margin-top: 22px; color: #2d3746; }
.document:first-child { margin-top: 0; }
.document:hover { color: #c50c1e; }
.document:hover .document__type { background: url('../img/icons-s259000824c.png') 0 -106px no-repeat; width: 67px; height: 86px; }
.document .document__type { box-sizing: border-box; padding: 46px 0 0 9px; background: url('../img/icons-s259000824c.png') 0 -202px no-repeat; width: 67px; height: 86px; font-size: 12px; line-height: 1.6; color: #9198a2; }
.document .document__type span { display: block; text-transform: uppercase; font-family: AvantGardeLT-CondBook; font-weight: normal; font-size: 18px; line-height: 1; }
.document .document__type span.doc { color: #0964c2; }
.document .document__type span.xls { color: #99bb12; }
.document .document__type span.rtf { color: #742929; }
.document .document__type span.pdf { color: #f82502; }
.document .document__title { display: block; margin-top: 14px; font-size: 16px; line-height: 1.5; font-weight: normal; }
.document em { font-style: normal; color: #c50c1e; }

.results { padding: 13px 0; border-bottom: 1px solid #eaebec; font-size: 21px; line-height: 1.7; }
.results em { font-style: normal; color: #c50c1e; }

.options { padding: 18px 0; background: #ECEEF1; font-size: 14px; line-height: 1.7; color: #888989; }
.options .option__in { position: relative; padding-left: 60px; }
.options .option__name { position: absolute; top: 0; left: 0; }
.options label { margin-right: 10px; white-space: nowrap; }
.options label span { white-space: normal; }
.options input[type="checkbox"] { margin-right: 8px; }
.options input[type="checkbox"]:checked + span { font-weight: bold; color: #656C77; }

.contact { font-size: 16px; line-height: 1.5; margin-top: 25px; }
.contact:first-child { margin-top: 0; }
.contact a { color: #c50c1e; padding-top: 6px; }
.contact a:hover { text-decoration: underline; }

.profile-pic { position: relative; overflow: hidden; background: #eceef1; *zoom: 1; }
.profile-pic:after { content: " "; display: table; clear: both; }
.profile-pic .profile-pic__img { float: left; width: 65.45455%; overflow: hidden; }
.profile-pic img { display: block; max-width: 100%; margin: auto; }
.profile-pic .profile-pic__caption, .profile-pic figcaption { float: right; width: 34.54545%; padding: 30px; box-sizing: border-box; }
.profile-pic dl, .profile-pic dd, .profile-pic dt { display: block; font-style: normal; font-weight: normal; }
.profile-pic dt { font-size: 30px; line-height: 1.2; }
.profile-pic dd { font-size: 16px; line-height: 1.5; margin-top: 15px; }
@media only screen and (max-width: 1000px) { .profile-pic .profile-pic__img { float: none; width: 100%; }
  .profile-pic .profile-pic__caption, .profile-pic figcaption { float: none; width: 100%; } }
@media only screen and (max-width: 800px) { .profile-pic .profile-pic__caption, .profile-pic figcaption { padding: 23px; } }
@media only screen and (max-width: 550px) { .profile-pic dt { font-size: 24px; }
  .profile-pic p.lead { font-size: 18px; line-height: 1.33; } }

.person { display: block; margin: 25px 0; line-height: 1.5; font-size: 16px; *zoom: 1; }
.person:after { content: " "; display: table; clear: both; }
.person:first-child { margin-top: 0; }
.person:last-child { margin-bottom: 0; }
.person .person__pic { float: left; width: 50px; height: 50px; margin-top: 7px; border-radius: 50%; overflow: hidden; }
.person .person__pic img { display: block; max-width: 100%; }
.person .person__content { margin-left: 62px; }
.person .person__name { color: #c50c1e; }
.person .person__about { margin-top: 3px; }
.person.person_lead { font-size: 21px; }
.person.person_lead .person__name { color: #2d3746; }

.gray-wrap { margin-top: 25px; background: #eceef1; }
.gray-wrap .l-content { padding: 30px 0; }

.links-list { padding: 0; list-style: none; margin: 0; padding: 0; }
.links-list li { margin: 0; padding: 0; border-bottom: 1px solid #8190a6; }
.links-list li:before { display: none; }
.links-list li:last-child { border-bottom: none; }
.links-list a { display: block; padding: 20px 25px; color: #f5f4f1; background: #617490; }
.links-list a:hover { background: #8190a6; }

.topslider { position: relative; background-color: #3C485B; max-height: 463px; overflow: hidden; }
@media only screen and (max-width: 550px) { .topslider { padding-top: 42px; } }
.topslider .topslider__nav { height: 40px; position: absolute; z-index: 3; top: -59px; left: 30px; right: 0; line-height: 40px; *zoom: 1; }
.topslider .topslider__nav:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 800px) { .topslider .topslider__nav { left: 23px; } }
@media only screen and (max-width: 550px) { .topslider .topslider__nav { position: static; margin-bottom: 20px; } }
.topslider .topslider__label { background: #c50c1e; display: block; float: left; font-size: 18px; padding: 0 17px; color: #FFF; }
.topslider .topslider__label a { color: #FFF; text-decoration: none; }
.topslider .topslider__label i { display: inline-block; background: url('../img/icons-s259000824c.png') 0 -298px no-repeat; width: 19px; height: 17px; margin-right: 5px; position: relative; top: 3px; }
@media only screen and (max-width: 550px) { .topslider .topslider__label { padding: 0 10px; } }
.topslider .topslider__prev, .topslider .topslider__next { display: block; float: left; width: 40px; background: #FFF; text-align: center; line-height: 40px; cursor: pointer; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }
.topslider .topslider__prev:before, .topslider .topslider__next:before { content: ""; display: inline-block; vertical-align: middle; position: relative; top: -2px; }
.topslider .topslider__prev:before { border-right-color: #d5d7da; }
.topslider .topslider__next { background: #2d3746; }
.topslider .topslider__box { position: absolute; z-index: 2; bottom: 0; left: 0; right: 0; min-height: 130px; box-sizing: border-box; padding: 19px 0 23px; background-color: #2d3746; background-color: rgba(45, 55, 70, 0.5); }
@media only screen and (max-width: 550px) { .topslider .topslider__box { position: static; min-height: auto; background: none; } }

.topslider__pics { overflow: hidden; }
.topslider__pics .slide { height: 463px; overflow: hidden; position: relative; }
.topslider__pics .slide img { display: block; margin: 0 auto; height: 100%; max-width: none; }
@media only screen and (max-width: 550px) { .topslider__pics .slide { display: none !important; } }
.topslider__pics .slide__in { position: absolute; top: 0; left: 50%; width: 3000px; margin-left: -1500px; height: 100%; text-align: center; }

.topslider__captions { overflow: hidden; }
.topslider__captions .caption { display: none; }
.topslider__captions .caption:first-child { display: block; }
.topslider__captions .caption.slick-slide { display: block; }
.topslider__captions .caption__title { font-size: 24px; line-height: 1.25; color: #FFF; letter-spacing: -0.02em; text-decoration: none; }
.topslider__captions .caption__title a { text-decoration: none; color: #FFF; }
.topslider__captions .caption__date { display: block; margin-top: 10px; font-size: 12px; line-height: 1.5; color: #7C8696; }

.poll { position: relative; padding: 30px; border: 1px solid #c2c4c9; }
@media only screen and (max-width: 550px) { .poll { padding-top: 60px; } }
.poll .poll__title { font-size: 24px; line-height: 1.25; color: #2d3746; margin-right: 15%; }
@media only screen and (max-width: 550px) { .poll .poll__title { margin: 0; } }
.poll .poll__counter { margin-top: 13px; font-size: 16px; line-height: 1.5; color: #b1ca08; }
.poll .poll__question { margin-top: 5px; font-family: "FranklinGothic-Medium.ttf", Arial, sans-serif; font-weight: normal; font-weight: bold; font-size: 16px; line-height: 1.5; color: #2d3746; }
.poll .poll__answer { margin-left: -21px; }
.poll .poll__radio { display: inline-block; vertical-align: middle; margin: 18px 0 0 21px; font-size: 14px; color: #2d3746; }
.poll .poll__radio input[type="radio"] { margin-right: 5px; }
.poll .link-more { position: absolute; top: 13px; right: 20px; margin: 0; }
@media only screen and (max-width: 550px) { .poll .link-more { top: 25px; right: 25px; } }
.poll .btn { white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; margin-top: 27px; margin-right: 9px; }
@media only screen and (max-width: 550px) { .poll .btn { display: block; max-width: 100%; font-size: 15px; } }
@media only screen and (max-width: 550px) { .poll .btn + .btn { margin-left: 0; margin-top: 9px; } }

.article { font-size: 16px; line-height: 1.5; }
.article h1 { font-size: 36px; line-height: 1.2; font-weight: normal; margin-bottom: 25px; }
.article h1 + .info { margin-top: 10px; }
@media only screen and (max-width: 550px) { .article h1 { font-size: 30px; } }
.article p { margin: 25px 0; }
.article p:first-child { margin-top: 0; }
.article p:last-child { margin-bottom: 0; }
.article .lead { font-size: 21px; line-height: 1.43; }
.article h2 { font-size: 21px; line-height: 1.15; margin: 45px 0 25px; font-weight: normal; }
.article h3 { font-size: 21px; line-height: 1.15; margin: 45px 0 25px; font-weight: normal; }
.article figure { *zoom: 1; }
.article figure:after { content: " "; display: table; clear: both; }
.article figure img { display: block; float: left; max-width: 77.70492%; margin-right: 20px; }
.article figure figcaption { display: block; font-size: 12px; line-height: 1.5; color: #9198a2; }
@media only screen and (max-width: 550px) { .article figure { margin-left: -30px; margin-right: -30px; }
  .article figure img { float: none; margin: 0; max-width: 100%; }
  .article figure figcaption { margin-top: 20px; padding: 0 30px; } }
.article blockquote { margin-top: 40px; font-size: 21px; line-height: 1.4; font-style: normal; font-weight: normal; }
.article ul { list-style-type: none; margin: 25px 0; }
.article ul li { position: relative; margin-top: 25px; padding-left: 33px; }
.article ul li:first-child { margin-top: 0; }
.article ul li:before { content: "—"; position: absolute; top: 0; left: 0; }
.article ol { list-style-type: none; margin: 25px 0; counter-reset: list; }
.article ol li { position: relative; padding-left: 33px; margin-top: 25px; }
.article ol li:first-child { margin-top: 0; }
.article ol li:before { counter-increment: list; content: counter(list) "."; position: absolute; top: 5px; left: 0; font-size: 12px; color: #9198a2; }
.article hr { width: 80.85106%; margin: 25px 0; height: 1px; position: relative; left: -27px; background-color: #D5D7DA; border: none; }
@media only screen and (max-width: 800px) { .article hr { width: auto; left: 0; margin-left: -23px; margin-right: -23px; } }
.article.article_list { padding-left: 33px; }
.article.article_list h1 { margin-left: -33px; }
.article.article_list hr { left: -60px; }
@media only screen and (max-width: 800px) { .article.article_list hr { left: 0; margin-left: -56px; } }
.article.article_list ol { margin-left: -33px; }
.article.article_list p:first-of-type, .article.article_list p.lead { font-size: inherit; line-height: inherit; }

.article__aside { background: #f4f5f6; padding: 30px; }
@media only screen and (max-width: 550px) { .article__aside { margin: 0 -23px; } }
.article__aside ul { list-style: none; margin: 0; padding: 0; }
.article__aside ul li { margin: 0; padding: 0; }
.article__aside.article__aside_list { padding: 0; }
.article__aside.article__aside_copy { display: none; float: right; width: 42.85714%; margin: 25px 0; margin-left: 2.85714%; }
@media only screen and (max-width: 800px) { .article__aside.article__aside_copy { display: block; } }
@media only screen and (max-width: 550px) { .article__aside.article__aside_copy { display: none; } }

.article__attached .document { display: inline-block; vertical-align: top; width: 49%; margin-top: 0; margin-left: -2px; }
.article__attached .document:first-child { margin-left: 0; }
@media only screen and (max-width: 550px) { .article__attached .document { display: block; width: auto; margin-top: 25px; } }

.gallery-wrap { padding: 35px 0; background: #2d3746; }
@media only screen and (max-width: 550px) { .gallery-wrap { padding: 0; } }

.gallery .gallery__main { position: relative; }
.gallery .gallery__nav { position: absolute; left: 0; bottom: 0; *zoom: 1; }
.gallery .gallery__nav:after { content: " "; display: table; clear: both; }
.gallery .gallery__prev, .gallery .gallery__next { display: block; float: left; width: 40px; height: 40px; line-height: 40px; box-sizing: border-box; text-align: center; cursor: pointer; }
.gallery .gallery__prev:before, .gallery .gallery__next:before { content: ""; display: inline-block; vertical-align: middle; position: relative; top: -2px; }
.gallery .gallery__prev { background: #FFF; }
.gallery .gallery__prev:before { border-right-color: #d5d7da; }
.gallery .gallery__next { background: #2d3746; background: rgba(45, 55, 70, 0.3); border: 1px solid rgba(255, 255, 255, 0.2); }
.gallery .gallery__carousel { position: relative; margin-top: 4px; padding-right: 121px; }
@media only screen and (max-width: 550px) { .gallery .gallery__carousel { padding-right: 49px; margin-top: 1px; } }
.gallery .gallery__carousel-slides { *zoom: 1; }
.gallery .gallery__carousel-slides:after { content: " "; display: table; clear: both; }
.gallery .gallery__carousel-slide { float: left; position: relative; width: 117px; height: 67px; box-sizing: border-box; cursor: pointer; overflow: hidden; }
.gallery .gallery__carousel-slide img { display: block; max-width: none; height: 100%; min-width: 100%; }
.gallery .gallery__carousel-slide.is-active:before, .gallery .gallery__carousel-slide.slick-active:before { content: ""; position: absolute; z-index: 100; box-sizing: border-box; top: 0; left: 0; width: 100%; height: 100%; border: 3px solid #c50c1e; }
.gallery .gallery__carousel-slide.is-active + .slick-active:before, .gallery .gallery__carousel-slide.slick-active + .slick-active:before { display: none; }
.gallery .gallery__carousel-autoplay { position: absolute; top: 0; right: 0; bottom: 0; width: 121px; box-sizing: border-box; border: 1px solid #6c737e; text-align: center; font-size: 0; cursor: pointer; }
.gallery .gallery__carousel-autoplay:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.gallery .gallery__carousel-autoplay:after { content: ""; display: inline-block; vertical-align: middle; }
.gallery .gallery__carousel-autoplay.is-active:after { border-left-color: #c50c1e; }
@media only screen and (max-width: 550px) { .gallery .gallery__carousel-autoplay { width: 49px; border: none; } }
@media only screen and (max-width: 550px) { .gallery { margin-left: -23px; margin-right: -23px; } }

.gallery__slide { *zoom: 1; }
.gallery__slide:after { content: " "; display: table; clear: both; }
.gallery__slide .gallery__slide-pic { float: left; width: 64.89362%; overflow: hidden; }
.gallery__slide .gallery__slide-pic img { display: block; max-width: 100%; }
.gallery__slide .gallery__slide-caption { float: right; width: 35.10638%; box-sizing: border-box; padding: 0 30px; font-size: 12px; line-height: 1.5; color: #9198a2; }
@media only screen and (max-width: 550px) { .gallery__slide .gallery__slide-pic { float: none; width: 100%; }
  .gallery__slide .gallery__slide-caption { display: none; } }

.profile { line-height: 1.5; }
.profile p { margin: 25px 0; }
.profile p:first-child { margin-top: 0; }
.profile p:last-child { margin-bottom: 0; }
.profile .lead { font-size: 21px; line-height: 1.4; }
.profile .profile__head { margin: 25px auto 0; }

.side-menu { position: absolute; z-index: 500; top: 0; left: -310px; max-width: 300px; -moz-transition: linear 0.2s; -o-transition: linear 0.2s; -webkit-transition: linear 0.2s; transition: linear 0.2s; }
.side-menu .side-menu__title { padding: 50px 30px 30px; background: #c50c1e; font-weight: normal; color: #FFF; color: rgba(255, 255, 255, 0.4); border-bottom: 1px solid #D13D4B; }
.side-menu .side-menu__close { position: absolute; top: 0; right: 0; width: 55px; height: 55px; line-height: 55px; text-align: center; background-color: #D13D4B; background-color: rgba(255, 255, 255, 0.2); cursor: pointer; }
.side-menu .side-menu__close:before { content: ""; display: inline-block; vertical-align: middle; background: url('../img/icons-s259000824c.png') 0 -41px no-repeat; width: 25px; height: 25px; }
.side-menu .side-menu__close:hover { background-color: rgba(255, 255, 255, 0.3); }
.side-menu .links-list li { border-color: #D13D4B; }
.side-menu .links-list a { color: #fff; background: #c50c1e; }
.side-menu .links-list a:hover { color: #7C0612; }
.side-menu.is-visible { left: 0; }

.footer { margin-top: 30px; border-top: 9px solid #cccfd3; background: #EAEBED; }
.footer .footer__main { padding: 40px 0; background: #f4f5f6; font-size: 0; }
.footer .footer-list-wrap { margin-right: -23px; }
.footer .footer__list { display: inline-block; vertical-align: top; box-sizing: border-box; width: 33.29787%; margin-bottom: 50px; padding-right: 2.87234%; font-family: "FranklinGothic-Medium.ttf", Arial, sans-serif; font-weight: normal; font-size: 14px; color: #7C8696; line-height: 1.3; }
.footer .footer__list li { margin-top: 24px; }
.footer .footer__list li:first-child { font-size: 18px; margin-top: 0; }
.footer .footer__list li:first-child a { color: #2d3746; }
.footer .footer__list a { color: #7C8696; }
.footer .footer__list a:hover { color: #2d3746; }
@media only screen and (max-width: 550px) { .footer .footer__list { display: block; width: 100%; margin-bottom: 20px; }
  .footer .footer__list li { display: none; }
  .footer .footer__list li:first-child { display: block; } }
.footer .footer__search { padding-right: 85px; position: relative; }
@media only screen and (max-width: 550px) { .footer .footer__search { margin-top: 40px; padding-right: 60px; } }
.footer .footer__search .search input[type="text"] { border: none; }
.footer .footer__search .rss { position: absolute; top: 10px; right: 0; }
.footer .footer__bottom { padding: 42px 0 37px; text-align: center; font-size: 0; text-align: left; white-space: nowrap; }
.footer .footer__bottom:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.footer .footer__logo { display: inline-block; vertical-align: middle; background: url('../img/icons-s259000824c.png') 0 -349px no-repeat; width: 32px; height: 32px; }
.footer .footer__title { display: inline-block; vertical-align: middle; width: 80%; margin-left: 13px; font-size: 12px; line-height: 1.167; color: #7c8696; white-space: normal; }
