.header
	position: relative
	z-index: 10
	background: #FFF
	.header__top
		position: relative
		padding: 16px 0 26px 120px
		font-size: 0
		&:before
			content: ""
			display: inline-block
			vertical-align: middle
			width: 0
			height: 100%
			min-height: 105px
		+mob
			padding-left: 0
			height: auto
			&:before
				display: none


	.logo
		position: absolute
		top: 16px
		left: 0
		+mob
			display: none

	.header__title
		display: inline-block
		vertical-align: middle
		+medium
		font-size: 24px
		line-height: 1.25
		text-align: left
		color: $blue
		letter-spacing: -0.02em
		white-space: normal
		+mob
			display: block
			font-size: 16px
			line-height: 1.5

	.header__search
		visibility: hidden
		position: absolute
		z-index: -1
		bottom: 0
		// left: 7px
		// right: 7px
		left: 0
		right: 0
		box-sizing: border-box
		max-width: 986px
		margin: auto
		padding: 10px 60px 10px 10px
		background: $blue2
		+transition(all 0.2s linear)
		&.is-visible
			bottom: -60px
			visibility: visible
			opacity: 1
		+mob
			padding-right: 10px
			.search
				padding: 0
				// input[type="text"]:focus
				// 	+ .search__clear
				// 		display: block
			.search__btn
				display: none
		&.is-static
			position: relative
			opacity: 1
			visibility: visible
			height: 0
			padding-top: 0
			padding-bottom: 0
			overflow: hidden
			top: auto
			left: auto
			right: auto
			bottom: auto
			&.is-visible
				height: 60px
				padding-top: 10px
				padding-bottom: 10px
			// +r(986)
			// 	margin: 0 7px


	.header__search-close
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 60px
		line-height: 60px
		text-align: center
		cursor: pointer
		&:before
			content: ""
			display: inline-block
			vertical-align: middle
			+s(close)
			position: relative
			top: -2px
		+mob
			display: none


.logo
	display: block
	+hide-text
	+s(logo)

.menu
	background: $blue
	height: 60px
	line-height: 60px
	+medium

	.menu__list
		position: relative
		margin: 0 37px
		height: 60px
		font-size: 0
		li
			// float: left
			display: inline-block
			&.is-active
				a
					background: $blue2
		a
			display: block
			padding: 0 30px
			font-size: 16px
			color: #fff
			text-decoration: none
			&:hover
				background-color: $red
			// +tab
			// 	padding: 0 15px
			// +mob
			// 	padding: 0 10px
			&.is-active
				background: $blue2

		.flexMenu-viewMore
			position: relative
			a[title]
				letter-spacing: 0.1em
			&.active
				background: $red
			+mob
				float: right

		.flexMenu-popup
			background: $red
			top: 100%
			right: 0
			width: 260px
			padding: 10px 0
			z-index: 100
			box-sizing: border-box
			li
				display: block
				&.is-active
					a
						// background: rgba(0,0,0,0.2)
						background: #9C0917
			a
				box-sizing: border-box
				line-height: 1.25
				padding-top: 10px
				padding-bottom: 10px
				&:hover
					// background: rgba(0,0,0,0.2)
					background: #9C0917
				+mob
					width: 260px
					line-height: 1.25
					padding-top: 10px
					padding-bottom: 10px

	.menu__btn
		position: absolute
		z-index: 2
		top: 0
		left: 7px
		width: 60px
		text-align: center
		+r(986)
			left: 0
		&:before
			position: relative
			top: -1px
			content: ""
			display: inline-block
			vertical-align: middle
			+s(menu-btn)
		&.menu__btn_search
			left: auto
			right: 7px
			+r(986)
				right: 0
			&:before
				+s(search)
		&:hover, &.is-active
			background: $blue2

	&.menu_sub
		background: $blue2
		+mob
			display: none
		.menu__list
			a
				&:hover,
				&.is-active
					background: $blue3
			li.is-active
				a
					background: $blue3
		.flexMenu-viewMore
			background: $blue2
			&.active
				background: $blue3
		.flexMenu-popup
			background: $blue3
			li
				a:hover
					// background: rgba(0,0,0,0.2)
					background: #4D5C72
				&.is-active
					a
						// background: rgba(0,0,0,0.2)
						background: #4D5C72

	&.menu_sub-bottom
		display: none
		height: auto
		margin: 0 0 -30px
		+mob
			display: block
		.menu__list
			height: auto
			margin: 0
		li
			display: block
			margin: 0 -23px
			border-top: 1px solid $blue3
			&:first-child
				border: none
			a
				padding: 0 23px
