// default layout
.l-center
	position: relative
	max-width: 940px
	margin: 0 auto
	padding: 0 30px
	+tab
		padding: 0 23px

.l-content
	padding: 22px 0 40px
	+clr
	.l-col1,
	.l-col2
		width: percentage(455/940)
		margin-right: 0
	.l-col1
		float: left
	.l-col2
		float: right
	+mob
		.l-col1,
		.l-col2
			float: none
			width: 100%
		.l-col2
			margin-top: 25px

.l-content-four-col
	padding: 22px 0 40px
	+clr
	.l-col1,
	.l-col2,
	.l-col3,
	.l-col4
		width: percentage(295/940)
		float: left
		margin-right: percentage(27/940)
	.l-col3,
	.l-col4
		float: right
		margin-right: 0
	.l-col4
		margin-top: 30px
	+tab
		.l-col1,
		.l-col3
			float: left
			width: percentage(335/700)
			margin-right: percentage(30/700)
		.l-col2,
		.l-col4
			float: right
			width: percentage(335/700)
			margin-right: 0
		.l-col3
			margin-top: 30px
	+mob
		.l-col1,
		.l-col2,
		.l-col3,
		.l-col4
			float: none
			width: 100%
			margin: 0
		.l-col2,
		.l-col3,
		.l-col4
			margin-top: 30px

.l-article
	margin: 30px 0
	+clr
	.l-col1
		float: left
		width: percentage(610/940)
		// margin-top: 25px
	.l-col2
		float: right
		width: percentage(300/940)
		// margin-top: 25px
	+tab
		.l-col1
			float: none
			width: 100%
		.l-col2
			display: none
	+mob
		margin-bottom: 0
		.l-col2
			display: block
			float: none
			width: 100%
			margin-top: 25px

	.l-content
		padding: 10px 0



