// default layout
.l-center
	position: relative
	max-width: 940px
	margin: 0 auto
	padding: 0 30px


.l-content
	padding: 22px 0 40px
	+clr
	.l-col1,
	.l-col2,
	.l-col3
		width: percentage(295/940)
		float: left
		margin-right: percentage(27/940)
	.l-col3
		margin-right: 0
	+tab
		.l-col1,
		.l-col3
			float: left
			width: percentage(335/700)
			margin-right: percentage(30/700)
		.l-col2
			float: right
			width: percentage(335/700)
			margin-right: 0
		.l-col3
			margin-top: 30px
	+mob
		.l-col1,
		.l-col2,
		.l-col3
			float: none
			width: 100%
			margin: 0
		.l-col2,
		.l-col3
			margin-top: 30px



